In [1]:
import pandas as pd

In [5]:
df=pd.read_csv(r"C:\Users\arshi\Downloads\heart (1).csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [9]:
df.shape

(918, 12)

In [11]:
df.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

## Outlier detection

In [34]:
df[df['Cholesterol']>(df['Cholesterol'].mean()+3*df['Cholesterol'].std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [42]:
df.shape

(918, 12)

In [84]:
df1=df[df.Cholesterol<=(df['Cholesterol'].mean()+3*df['Cholesterol'].std())]
df1.shape

(915, 12)

In [86]:
df[df['RestingBP']>(df.RestingBP.mean()+3*df.RestingBP.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [88]:
df2=df1[df1.RestingBP<=(df1.RestingBP.mean()+3*df1.RestingBP.std())]
df2.shape

(908, 12)

In [90]:
df[df.FastingBS<(df.FastingBS.mean()-3*df.FastingBS.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [92]:
df[df.FastingBS>(df.FastingBS.mean()+3*df.FastingBS.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [94]:
df[df.MaxHR>(df.MaxHR.mean()+3*df.MaxHR.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [96]:
df[df.Oldpeak>(df.Oldpeak.mean()+3*df.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [100]:
df3=df2[df2.Oldpeak<=(df2.Oldpeak.mean()+3*df2.Oldpeak.std())]
df3.shape

(902, 12)

## Encoding

In [103]:
df3['Sex'].unique()

array(['M', 'F'], dtype=object)

In [105]:
df3['ChestPainType'].unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [107]:
df3['RestingECG'].unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [109]:
df3['ExerciseAngina'].unique()

array(['N', 'Y'], dtype=object)

In [111]:
df3['ST_Slope'].unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [119]:
df4=df3.copy()

In [123]:
df4['Sex'].replace({
    'M':1,
    'F':0
},inplace=True)

In [128]:
df4['ExerciseAngina'].replace({
    'Y':1,
    'N':0
},inplace=True)

In [135]:
df4['ST_Slope'].replace({
    'Up':3,
    'Flat':2,
    'Down':1
},inplace=True)

In [139]:
df4.RestingECG.replace({
    'Normal':1,
    'ST':2,
    'LVH':3
},inplace=True)

In [141]:
df5=pd.get_dummies(df4,drop_first=True)
df5.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,1,140,289,0,1,172,0,0.0,3,0,True,False,False
1,49,0,160,180,0,1,156,0,1.0,2,1,False,True,False
2,37,1,130,283,0,2,98,0,0.0,3,0,True,False,False
3,48,0,138,214,0,1,108,1,1.5,2,1,False,False,False
4,54,1,150,195,0,1,122,0,0.0,3,0,False,True,False

In [149]:
df5.ChestPainType_NAP.replace({
    True:1,
    False:0,
    
},inplace=True)

In [153]:
df5.ChestPainType_ATA.replace({
    True:1,
    False:0,
    
},inplace=True)

In [160]:
df5.ChestPainType_TA.replace({
    True:1,
    False:0,
    
},inplace=True)

In [162]:
df5.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,1,140,289,0,1,172,0,0.0,3,0,1,0,0
1,49,0,160,180,0,1,156,0,1.0,2,1,0,1,0
2,37,1,130,283,0,2,98,0,0.0,3,0,1,0,0
3,48,0,138,214,0,1,108,1,1.5,2,1,0,0,0
4,54,1,150,195,0,1,122,0,0.0,3,0,0,1,0

In [180]:
X=df5.drop('HeartDisease',axis=1)
y=df5['HeartDisease']

In [182]:
X.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,1,140,289,0,1,172,0,0.0,3,1,0,0
1,49,0,160,180,0,1,156,0,1.0,2,0,1,0
2,37,1,130,283,0,2,98,0,0.0,3,1,0,0
3,48,0,138,214,0,1,108,1,1.5,2,0,0,0
4,54,1,150,195,0,1,122,0,0.0,3,0,1,0

In [184]:
from sklearn.preprocessing import StandardScaler

In [186]:
scaler=StandardScaler()
X_scaled=scaler.fit_transform(X)

In [188]:
pd.DataFrame(X_scaled).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-1.428963,0.514856,0.460891,0.852380,-0.550879,-0.744611,1.381913,-0.820652,-0.846763,1.045634,2.067572,-0.535475,-0.229148
1,-0.475460,-1.942289,1.592573,-0.161329,-0.550879,-0.744611,0.752911,-0.820652,0.140799,-0.620730,-0.483659,1.867502,-0.229148
2,-1.746797,0.514856,-0.104950,0.796580,-0.550879,0.501473,-1.527222,-0.820652,-0.846763,1.045634,2.067572,-0.535475,-0.229148
3,-0.581404,-1.942289,0.347722,0.154874,-0.550879,-0.744611,-1.134095,1.218544,0.634579,-0.620730,-0.483659,-0.535475,-0.229148
4,0.054264,0.514856,1.026732,-0.021827,-0.550879,-0.744611,-0.583719,-0.820652,-0.846763,1.045634,-0.483659,1.867502,-0.229148

In [205]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

In [192]:
X_train,X_test,y_train,y_test=train_test_split(X_scaled,y,test_size=0.2,random_state=42)

In [196]:
model1=LogisticRegression()
model1.fit(X_train,y_train)
y_pred=model1.predict(X_test)
model1.score(X_test,y_test)

0.850828729281768

In [207]:
# Metrics
conf_matrix = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# Print metrics
print("Metrics of LogisticRegression")
print("Confusion Matrix:")
print(conf_matrix)
print(f"Accuracy: {accuracy:.2f}")
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1 Score: {f1:.2f}")

Metrics of LogisticRegression
Confusion Matrix:
[[71 14]
 [13 83]]
Accuracy: 0.85
Precision: 0.86
Recall: 0.86
F1 Score: 0.86

In [198]:
model2=DecisionTreeClassifier(random_state=42)
model2.fit(X_train,y_train)
y_pred2=model2.predict(X_test)
model2.score(X_test,y_test)

0.8176795580110497

In [211]:
# Metrics
conf_matrix = confusion_matrix(y_test, y_pred2)
accuracy = accuracy_score(y_test, y_pred2)
precision = precision_score(y_test, y_pred2)
recall = recall_score(y_test, y_pred2)
f1 = f1_score(y_test, y_pred2)

# Print metrics
print("Metrics of Decision tree classifier")
print("Confusion Matrix:")
print(conf_matrix)
print(f"Accuracy: {accuracy:.2f}")
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1 Score: {f1:.2f}")

Metrics of Decision tree classifier
Confusion Matrix:
[[65 20]
 [13 83]]
Accuracy: 0.82
Precision: 0.81
Recall: 0.86
F1 Score: 0.83

In [203]:
model3=RandomForestClassifier(n_estimators=100, random_state=42)
model3.fit(X_train,y_train)
y_pred3=model3.predict(X_test)
model3.score(X_test,y_test)

0.8674033149171271

In [213]:
# Metrics
conf_matrix = confusion_matrix(y_test, y_pred3)
accuracy = accuracy_score(y_test, y_pred3)
precision = precision_score(y_test, y_pred3)
recall = recall_score(y_test, y_pred3)
f1 = f1_score(y_test, y_pred3)

# Print metrics
print("Metrics of Random Forest classifier")
print("Confusion Matrix:")
print(conf_matrix)
print(f"Accuracy: {accuracy:.2f}")
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1 Score: {f1:.2f}")

Metrics of Random Forest classifier
Confusion Matrix:
[[69 16]
 [ 8 88]]
Accuracy: 0.87
Precision: 0.85
Recall: 0.92
F1 Score: 0.88

## After PCA

In [216]:
from sklearn.decomposition import PCA

In [230]:
X_scaled.shape

(902, 13)

In [242]:
pca=PCA(0.95)
X_pca=pca.fit_transform(X_scaled)
X_pca.shape

(902, 12)

In [244]:
Xpca_train,Xpca_test,y_train,y_test=train_test_split(X_pca,y,test_size=0.2,random_state=42)

In [246]:
modelpca1=LogisticRegression()
modelpca1.fit(Xpca_train,y_train)
ypca_pred1=modelpca1.predict(Xpca_test)
modelpca1.score(Xpca_test,y_test)

0.8453038674033149

In [248]:
modelpca2=DecisionTreeClassifier(random_state=42)
modelpca2.fit(Xpca_train,y_train)
ypca_pred2=modelpca1.predict(Xpca_test)
modelpca2.score(Xpca_test,y_test)

0.7624309392265194

In [250]:
modelpca3=RandomForestClassifier(n_estimators=100,random_state=42)
modelpca3.fit(Xpca_train,y_train)
ypca_pred3=modelpca1.predict(Xpca_test)
modelpca3.score(Xpca_test,y_test)

0.8287292817679558